@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400");
body {
  background-color: #424242;
  margin: 0 0 100px; }

html {
  position: relative;
  min-height: 100%; }

.image-circle {
  border-radius: 50%;
  -ms-flex-item-align: center;
  align-self: center; }

.mobile-menu {
  display: none;
  float: left; }

.artist-image {
  border-radius: 50%;
  height: 150px;
  width: 150px; }

.album-covers {
  width: 150px;
  height: 150px;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.mix-covers {
  width: 75px;
  height: 75px;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center; }

.center-content {
  width: 80%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }

.left-section {
  width: 30%; }

.artists {
  width: 100%; }

.artist-profiles {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.track-details {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center; }

.track-group {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  margin-right: 40px; }

.track-text {
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-left: 10px;
  width: 50%; }

.track-image {
  -ms-flex-pack: start;
  justify-content: flex-start; }

.tracks {
  width: 100%; }

.right-section {
  width: 70%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }

.data-name {
  text-align: center;
  padding-top: 5px; }

.mix-name {
  text-align: center;
  padding-top: 5px;
  font-size: 0.85em;
  color: #fff;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif; }

.track-details button {
  background-color: #D32E2E;
  border: none;
  padding: 15px;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  border-radius: 5px; }

button.mix {
  background-color: #D32E2E;
  border: none;
  padding: 15px;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  position: absolute;
  left: 55%;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000; }

button.playlist {
  background-color: #D32E2E;
  border: none;
  border-radius: 5px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 0.75em;
  padding: 10px;
  color: #fff;
  box-shadow: 1px 1px 1px #000; }

li {
  list-style: none; }

ul.list-group {
  padding: 0px; }

.fa-spinner {
  color: #fff;
  animation: spin 2s linear infinite; }

.fa-bars {
  color: #fff;
  vertical-align: middle; }

.activateMenu {
  display: block !important;
  width: 100%;
  animation: slideIn 0.5s forwards; }

h1 {
  color: #fff;
  font-family: 'Fira Sans', sans-serif; }

h2.message {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1em; }

h3 {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  text-align: center; }

h4 {
  -ms-flex-item-align: center;
  align-self: center;
  margin-right: 10px;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400; }

h5 {
  margin: 0px;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 3em;
  -ms-flex-item-align: center;
  align-self: center;
  text-shadow: 1px 1.5px #000; }

h5 b {
  text-shadow: 2px 2px #000; }

.playlist-name {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300; }

.data-name {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300; }

.title {
  color: #fff;
  font-size: 5em;
  font-family: 'Fira Sans', sans-serif;
  text-shadow: 2px 2px #000; }

.header {
  width: 100%;
  height: 80px;
  background-color: #D32E2E;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center; }

.head-container {
  width: 80%;
  display: -ms-flexbox;
  display: flex; }

.header-left {
  width: 30%;
  display: -ms-flexbox;
  display: flex; }

.header-right {
  width: 70%;
  padding-right: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.user-section {
  width: 30%;
  height: 100%;
  float: right;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center; }

.fade-transition {
  transition: all .7s ease; }

.fade-enter, .fade-leave {
  opacity: 0; }

.mix-fade-transition {
  transition: all .10s ease; }

.mobile-section {
  -vendor-animation-delay: 1s; }

.jumbotron {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column; }

body.splash {
  background-color: #424242; }

.image-area {
  width: 100%;
  height: 400px;
  -ms-flex-pack: center;
  justify-content: center; }

.title {
  margin-left: auto;
  margin-right: auto;
  z-index: 1; }

#auth {
  margin-left: auto;
  margin-right: auto; }

.new-release {
  width: 260px;
  height: 260px; }

.new-releases {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  z-index: 0; }

.release-group {
  margin-right: 0px; }

.release-group:nth-child(20) {
  display: none; }

.release-group:nth-child(19) {
  display: none; }

.start {
  background-color: #D32E2E;
  border: none;
  padding: 15px;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #000; }

form#auth {
  z-index: 1; }

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  padding-bottom: 20px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300; }

#mix-group {
  margin: 10px 0 0 2%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 100px;
  width: calc(100% * (1/4) - 10px - 1px); }

@media (max-width: 1815px) {
  .new-releases {
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 1215px) {
  .new-release {
    width: 190px;
    height: 190px; }
  .release-group:nth-child(20) {
    display: block; }
  .release-group:nth-child(19) {
    display: block; } }

@media (max-width: 1750px) {
  .artist-image {
    height: 130px;
    width: 130px; }
  .album-covers {
    height: 130px;
    width: 130px; } }

@media (max-width: 1650px) {
  .left-section {
    display: none; }
  .right-section {
    width: 100%; }
  .artist-profiles {
    -ms-flex-pack: center;
    justify-content: center; }
  .album-covers {
    width: 100px;
    height: 100px; }
  .mobile-menu {
    float: left;
    margin-right: 80px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
  .data-name {
    font-size: 0.9em; }
  button.mix {
    margin-left: 0px; } }

@media (max-width: 1590px) {
  .data-name {
    font-size: 0.8em; } }

@media (max-width: 1080px) {
  .artist-image {
    height: 110px;
    width: 110px; }
  .album-covers {
    height: 80px;
    width: 80px; } }

@media (max-width: 935px) {
  .new-release {
    width: 150px;
    height: 150px; }
  .artist-image {
    height: 80px;
    width: 80px; } }

@media (max-width: 775px) {
  .new-release {
    width: 120px;
    height: 120px; }
  .image-area {
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: 80px; }
  .center-content {
    width: 100%; }
  .artist-profiles {
    -ms-flex-pack: center;
    justify-content: center; }
  button.mix {
    left: 45%;
    margin-top: 20px; }
  .mix.refresh {
    margin-top: 0px;
    left: 40%; }
  .playlists {
    padding-left: 20px; }
  #mix-group {
    margin: 10px 0 0 2%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 100px;
    width: calc(100% * (1/3) - 10px - 1px); } }

@media (max-width: 655px) {
  .new-release {
    width: 110px;
    height: 110px; }
  .new-releases {
    -ms-flex-item-align: center;
    align-self: center;
    overflow: auto;
    padding-right: 10px; } }

@media (max-width: 655px) {
  .new-release {
    width: 100px;
    height: 100px; }
  .mobile-menu {
    margin-right: 40px; } }

@media (max-width: 500px) {
  .header-right {
    display: none; }
  .head-container {
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 450px) {
  .image-area {
    position: absolute;
    right: 5%;
    margin-top: 20px; }
  .center-content {
    width: 100%; }
  .artist-profiles {
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-direction: column;
    flex-direction: column; }
  ul.artist-group {
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0px; }
  .artist-image {
    left: 40%;
    position: relative; }
  .new-release {
    width: 75px;
    height: 75px; }
  .jumbotron {
    position: absolute;
    top: 40%;
    left: 20%; }
  .release-group:nth-child(20) {
    display: none; }
  .release-group:nth-child(19) {
    display: none; }
  .mobile-menu {
    margin-right: 20px; }
  #mix-group {
    width: auto;
    margin-top: 10px; }
  .header-left {
    width: 100%;
    -ms-flex-pack: center;
    justify-content: center; }
  .track-details {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-direction: column;
    flex-direction: column; }
  .track-group {
    -ms-flex-pack: center;
    justify-content: center; }
  button.mix {
    left: 40%; }
  button.refresh {
    left: 35%;
    margin-top: 5px; }
  .tracks h3 {
    text-align: center; }
  .footer {
    padding-top: 20px; } }

/*# sourceMappingURL=app.css.map */
