body{
  background-color:#424242;
  margin: 0 0 100px;
}

html {
    position: relative;
    min-height: 100%;
}

.image-circle{
  border-radius: 50%;
  align-self: center;
}

.mobile-menu{
  display:none;
  float:left;
}

.artist-image{
  border-radius:50%;
  height:150px;
  width:150px;
}

.album-covers{
  width:150px;
  height:150px;
  align-self: flex-start;
}

.mix-covers{
  width:75px;
  height:75px;
  align-self: flex-start;
}


.content{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.center-content{
  width:80%;
  display:flex;
  flex-direction: row;
}

.left-section{
  width:30%;
}

.artists{
  width:100%;
}

.artist-profiles{
  display:flex;
  flex-wrap: wrap;
}

.track-details{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.track-group{
  display:flex;
  padding-left:0px;
  margin-right:40px;
}

.track-text{
  justify-content: flex-end;
  padding-left: 10px;
  width:50%;
}

.track-image{
  justify-content: flex-start;
}

.tracks{
  width: 100%;
}

.right-section{
  width:70%;
  display:flex;
  flex-direction: column;
}

.data-name{
  text-align: center;
  padding-top:5px;
}

.mix-name{
  text-align: center;
  padding-top:5px;
  font-size: 0.85em;
  color:#fff;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
}

.track-details button{
  background-color:#D32E2E;
  border:none;
  padding:15px;
  color:#fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  border-radius:5px;
}

button.mix{
  background-color:#D32E2E;
  border:none;
  padding:15px;
  color:#fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  position: absolute;
  left: 55%;
  border-radius:5px;
  box-shadow: 1px 1px 1px #000;
}

button.playlist {
  background-color:#D32E2E;
  border:none;
  border-radius:5px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 0.75em;
  padding:10px;
  color:#fff;
  box-shadow: 1px 1px 1px #000;
}

li{
  list-style: none;
}
 ul.list-group{
  padding:0px;
 }

 .fa-spinner{
   color:#fff;
   animation: spin 2s linear infinite;
 }

 .fa-bars{
   color:#fff;
   vertical-align: middle;
 }

 .activateMenu{
   display: block!important;
   width:100%;
   -webkit-animation: slideIn 0.5s forwards;
  -moz-animation: slideIn 0.5s forwards;
  animation: slideIn 0.5s forwards;
 }
