@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400');

h1{
  color:#fff;
  font-family: 'Fira Sans', sans-serif;
}

h3 {
  color:#fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}

h4 {
  align-self: center;
  margin-right:10px;
  color:#fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

h5{
  margin:0px;
  color:#fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 3em;
  align-self: center;
}

.playlist-name{
  color:#fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}

.data-name{
  color:#fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}
